{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here
    let e1 = document.getElementById('rotate-box');
    let rotate = new Hammer(e1);
    rotate.get('rotate').set({enable:true});
    rotate.on("rotate", (f) => {
      $('#rotate-box').css('transform', 'rotate(' + f.rotation + 'deg)');
    });
    
    let e2 = document.getElementById('pinch-box');
    let pinch = new Hammer(e2);
    pinch.get('pinch').set({enable:true});
    pinch.on("pinch", (f) => {
      $('#pinch-box').css('transform', 'scale3d(' + f.scale + ', ' + f.scale + ', 1)');
    });
    
    let e3 = document.getElementById('press-box');
    let press = new Hammer(e3);
    press.get('press').set({
      time: 500,
      pointer:1,
      threshold:10
    });
    press.on("press", (f) => {
      alert("Pressed for 1/2 second");
    });
    
    let e4 = document.getElementById('pan-box');
    let pan = new Hammer(e4);
    pan.get('pan').set({
      direction: Hammer.DIRECTION_ALL, 
      threshold: 0
    });
    pan.on("pan", (f) => {
      $('#pan-box').css('transform', 'translate(' + f.deltaX + 'px, ' + f.deltaY + 'px)');
    });
    
    let e5 = document.getElementById('tap-box');
    let tap = new Hammer(e5);
    tap.get('tap').set({
      time: 300, 
      threshold: 10
    });
    tap.on("tap", (f) => {
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }
      $('#tap-box').css("background-color", getRandomColor());
    });
    
    let e6 = document.getElementById('swipe-box');
    let swipe = new Hammer(e6);
    swipe.get('swipe').set({
      direction: Hammer.DIRECTION_ALL, 
      threshold: 10,
      velocity: 0.5
    });
    swipe.on("swipe", (f) => {
//       alert(f.velocityX);
      $('#swipe-box').css('transform', 'translate(' + f.velocityX*50 + 'px, ' + f.velocityY*10 + 'px)');
    });
    
  </script>
</body>
</html>
